html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-Image: URL("imgs/pokemon-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0 0;
}

h1 img {
    height: 90px;
}

.bola {
    width: 60px;
    height: 60px;
    background-color: #000000;
    border-radius: 100px;
    position: absolute;
    background-Image: URL("imgs/pokemon0.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid black;
    background-color: red;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;

}